# Ignore the .git directory
.git/

# Ignore the node_modules directory (if applicable)
node_modules/

# Ignore the vendor directory (it will be recreated during the build)
vendor/

# Ignore the storage directory (it will be recreated with proper permissions)
storage/

# Ignore the bootstrap/cache directory (it will be recreated with proper permissions)
bootstrap/cache/

# Ignore environment-specific files
.env
.env.example

# Ignore Docker-related files (if any)
docker-compose.override.yml
docker-compose.yml
Dockerfile
.dockerignore

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore log files
*.log

# Ignore compiled assets (if applicable)
public/css/
public/js/
public/storage/
public/hot

# Ignore temporary files
tmp/
